h1{
    text-align: center;
    margin-top: 35px;
    color: #495867;
}
body{
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f5e1d3;
}
.container{
   display: flex;
  justify-content: center;
  background-color: #E7AD99;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
input[type=text] {
    width: 300px;
    padding: 10px;
    border: 1px solid #a8d5ff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border=color 0.3s ease;
}
input[type=text] :focus{
    border-color: #40a9ff;
}
button{
    background-color: #d37466cf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 35px;
}
button:hover{
    background-color: #ae4c3ccf ;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ae4c3ccf;
    border-radius: 5px;
}

li {
    color: #495867;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

li:last-child {
    border-bottom: none;
}

